.hero {
    background-image: url('../assets/img/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .carousel-item {
    padding: 20px 0;
  }
  
  .card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 180px;
    object-fit: cover;
  }
  
  .card-body {
    text-align: center;
  }
  
  .carousel-inner img {
    height: 500px;
    object-fit: cover;
  }
  